<header>
  <div class="logo">
    <h2><i class="fa-solid fa-cloud fa-bounce"></i> Weather</h2>
    <div class="search">
      <form>
        <input
          type="text"
          name="address"
          placeholder="enter location to show weather"
        />
        <button>Search</button>
      </form>
      <p class="address-error"></p>
      <p class="location-info"></p>
      <p class="lat-lng"></p>
      <p class="weather-info"></p>
    </div>
  </div>
  <div class="actions">
    <a href="/">Home</a>
    <a href="/weather">Check Weather</a>
  </div>
</header>
<script src="./js/script.js"></script>